{% extends 'myblog/base.html' %}
{% load static %}
{% block main %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">关于我</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'img/me.jpg' %}" alt="Developer Image">
								</figure>
								<p>2018年6月毕业一所不大入流的三本院校（并没有贬低学校的意思），专业是通信工程，实习一年加工作半年真正认识到了通信行业真的成为了夕阳行业。所以现在学习编程也有一部分原因是想要转行。从高中起，就对编程有莫名的喜爱，接触的第一款语言是号称国产编程语言“易语言”，后来逐渐忘却。现主要在学习python网页开发。</p>
								<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
									<li class="github"><a href="https://github.com/GBXZ"><span class="ion-social-github"></span></a></li>
								</ul>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
		<!--<footer id="site-footer">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<!--<p class="copyright">&copy; 2014 ThemeWagon.com</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</footer>-->
{% endblock %}
{% block common_aside %}
{% endblock %}
		<!--&lt;!&ndash; Mobile Menu &ndash;&gt;-->
		<!--<div class="overlay overlay-hugeinc">-->
			<!--<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>-->
			<!--<nav>-->
				<!--<ul>-->
					<!--<li><a href="index.html">Home</a></li>-->
					<!--<li><a href="full-width.html">Blog</a></li>-->
					<!--<li><a href="about.html">About</a></li>-->
					<!--<li><a href="contact.html">Contact</a></li>-->
				<!--</ul>-->
			<!--</nav>-->
		<!--</div>-->

		<!--<script src="js/script.js"></script>-->
		<!---->
	<!--</body>-->
<!--</html>-->
