{% extends 'myblog/base.html'%}
{% load static %}


{% block main  %}
                <article class="post post-1">
                <img class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">{{post.title}}</h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">{{ post.create_time.year }}年{{ post.create_time.month }}月{{ post.create_time.day }}日</time></a></span>
                            <span class="post-author"><a href="#">{{ post.user.username }}</a></span>
                            <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
                            <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{post.body|safe}}</p>
                    </div>
                    <div>
                        <a href= "http://service.weibo.com/share/share.php?title='{{post.title}}'&url={% url 'myblog:detail' post_id  %}"><img src="{% static 'img/wb.jpg' %}"  height=30  width=40 ></a>
                    </div>
                </article>
                <section class="comment-area" id="comment-area">
                    <hr>
                    <h3>发表评论</h3>
                    <form  method="post" class="comment-form">
                        {% csrf_token %}
                        <div class="row">
                            <!--<div class="col-md-4">-->
                                <!--<label for="id_name">名字：</label>-->
                                <!--<input type="text" id="id_name" name="name" required>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<label for="id_email">邮箱：</label>-->
                                <!--<input type="email" id="id_email" name="email" required>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<label for="id_url">网址：</label>-->
                                <!--<input type="text" id="id_url" name="url">-->
                            <!--</div>-->
                            {% if name %}
                            <div class="col-md-12">
                                <label for="id_comment">评论：</label>
                                <textarea name="comment" id="id_comment" required></textarea>
                                <button type="submit" class="comment-btn">发表</button>
                            </div>
                            {% else %}
                              <div class="col-md-12">
                                  <label for="id_comment"><a href="{% url 'myblog:wb_login' %}"><b>登录</b></a></label>
                                <label for="id_comment">评论：</label>
                                <textarea name="comment" id="id_comment" required disabled="disabled" placeholder="您需要登录才能评论"></textarea>
                                <button type="submit" class="comment-btn">发表</button>
                            </div>
                            {% endif %}
                        </div>    <!-- row -->
                    </form>
                    <div class="comment-list-panel">
                        <h3>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h3>
                        <ul class="comment-list list-unstyled">
                            {% for comment in comments %}
                            <li class="comment-item">
								<img src='{{comment.profile_image_url}}' height=25 width=25></img>
                                <span class="nickname">{{ comment.name }}</span>
                                <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">{{ comment.create_time.year }}年{{ comment.create_time.month }}月{{ comment.create_time.day }}日 {{ comment.create_time.hour }}:{{ comment.create_time.minute }}</time>
                                <div class="text">
                                  {{ comment.comment }}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
				{% endblock %}
{% block aside %}
<div class="widget widget-content">
                    <h3 class="widget-title">文章目录</h3>
{#                    <ul>#}
{#                        <li>#}
{#                            <a href="#">教程特点</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">谁适合这个教程</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">在线预览</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">资源列表</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a href="#">{{ toc|safe }}</a>#}
{#                        </li>#}
{#                    </ul>#}
                 {{ toc|safe }}
                </div>
{% endblock %}
